<div >
    <img src="assets/images/carro.JPG" alt="" width="100%" >
</div>

<div class="card  my-3">

    <table class="table" >
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Marca</th>
                <th>Línea</th>
                <th>Modelo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of vehicles">
                <td>{{vehicle.id}}</td>
                <td>{{vehicle.marca}}</td>
                <td>{{vehicle.linea}}</td>
                <td>{{vehicle.modelo}}</td>
            </tr>
        </tbody>
    </table>

</div>
